.boxofficeMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sec , .divDt {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divDt{
    width:  80%;
    height: 50px;
    background-color: aliceblue;

    flex-direction: row;
    border: 1px solid rgb(179, 179, 179);
}

input[type="date"], fieldset {
    width: 40%;
    height: 30px;
    margin: 5px;
}
fieldset{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* .mvli{
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    
}

.mvli  :hover{
    background-color: rgba(108, 238, 255, 0.2);
    font-weight: bold;
} */

ul {
    list-style-type: none;
    padding: 0;
}

.mvli {
    width: 100%;
  height: 40px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    
}

.mvli:hover {
    background-color: #c0e2ff;
    font-weight: bold;
    transform: scale(1.00);
}

.rank {
    font-size: 20px;
    color: #0069da;
    margin-right: 10px;
}

.movieNm {
    font-size: 16px;
    color: #333;
}

.dtradio{
    margin: 10px;

}

label{
    font-weight: bold;
}

.divDt{
    width: 90%;
    margin: 10px;
    display: flex;
    align-items: center;
}

span{
    padding: 10px;
}

.spRed{
    color: red;
}

.spBlue{
    color: rgb(0, 4, 255);
}

.rankInten{
    width: 10%;
    display: inline-flex;
    justify-content: center;
}

.movieNm {
    width: 60%;
  }
  
  .openDt {
    width: 20%;
  }