.boxofficeMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sec , .divDt {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divDt{
    width:  80%;
    height: 50px;
    background-color: aliceblue;

    flex-direction: row;
    border: 1px solid rgb(179, 179, 179);
}

input[type="date"] {
    width: 40%;
    height: 30px;
}

/* .mvli{
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    
}

.mvli  :hover{
    background-color: rgba(108, 238, 255, 0.2);
    font-weight: bold;
} */

ul {
    list-style-type: none;
    padding: 0;
}

.mvli {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    
}

.mvli:hover {
    background-color: #c0e2ff;
    font-weight: bold;
    transform: scale(1.00);
}

.rank {
    font-size: 20px;
    color: #0069da;
    margin-right: 10px;
}

.movieNm {
    font-size: 16px;
    color: #333;
}

