.sec, .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec {
    margin: 2px; 
    width: 100%;
    flex-direction: column;
  }
  .row {
    width: 100%;
    
    flex-direction: row;
  }
  
  #txt1 {
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* When the input is focused */
#txt1:focus {
    border-color: #007BFF; /* Change border color on focus */
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4); /* Slightly stronger shadow */
}



  #bt1{
    background-color: rgb(228, 228, 228);
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none !important;;
    width: 80px;
    height: 40px;
    color: rgb(83, 83, 83) !important;

}
#bt1:hover{
    background-color: rgb(179, 219, 155);
}
  
  .col1{
    width: 40%;
    display: flex; 
    align-items: center;
    padding: 5px;
  }
  
  .col1 {
    justify-content: end;
  }
  
  .col2 {
    justify-content: start;
  }
  
  input {
    width: 40%;
  }